*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
p{
  cursor:pointer;
}
main{
  display:flex;
  flex-direction:column;
  padding:1rem;
  color:white;
}
.folder{
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:20rem;
  background-color:#9e9e9eff;
  /* border-radius:1rem; */
  padding:0.5rem;
}
.insideFolder{
  /* margin-bottom:1rem; */
}
.folder >div{
  display:flex;
  gap:0.5rem;
  align-items:center;
}
.folder >div >button{
  /* border:none; */
  border:0.1px solid white;
  background:inherit;
  padding: 1px 5px;
}